body {
  background-color: #ffffff;
  font: 400 1.188em/1.38 Georgia;
  color: rgb(255, 255, 255);
}

.avatar {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 10;
  width: 163px;
  height: 160px;
  margin: 0 auto;
  background-color: rgb(222, 222, 222);
}

.button-about {
  display: block;
  float: left;
  width: 183px;
  height: 32px;
  margin-top: 14px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0);
  font: 0.842em/2 Helvetica;
  text-align: center;
  color: rgb(0, 0, 0);
}

.button-contact {
  display: block;
  float: left;
  width: 183px;
  height: 32px;
  margin: 15px 0 0 17.12543%;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0);
  font: 0.842em/2 Helvetica;
  text-align: center;
  color: rgb(0, 0, 0);
}

.button-faq {
  display: block;
  float: left;
  width: 182px;
  height: 32px;
  margin: 15px 0 0 144px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0);
  font: 0.842em/2 Helvetica;
  text-align: center;
  color: rgb(0, 0, 0);
}

.button-report {
  display: block;
  float: left;
  clear: both;
  width: 300px;
  height: 32px;
  margin: 35px 0 0 38.65625%;
  border-radius: 3px;
  background-color: #565656;
  font: 0.842em/2 Helvetica;
  text-align: center;
  color: #ffffff;
}

.check {
  display: block;
  float: left;
  width: 150px;
  height: 32px;
  margin-left: 1.0625%;
  border-radius: 3px;
  background-color: rgb(38, 186, 75);
  font-family: Helvetica;
  font-size: 0.842em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.check-url {
  float: left;
  width: 100%;
  height: 32px;
  margin-top: 400px;
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.maintitle {
  position: absolute;
  top: 190px;
  left: 0;
  right: 0;
  z-index: 8;
  width: 500px;
  margin: 0 auto;
  font-size: 2.895em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.subtitle {
  position: absolute;
  top: 257px;
  left: 0;
  right: 0;
  z-index: 9;
  width: 470px;
  min-height: 41px;
  margin: 0 auto;
  font-size: 1em;
  text-align: center;
  color: rgb(249, 247, 247);
}

.url {
  display: block;
  float: left;
  width: 490px;
  height: 30px;
  margin-left: 22.79948%;
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.29);
  font-family: Helvetica;
  font-size: 0.947em;
  color: rgb(255, 255, 255);
}

.container-1 {
  top: 0;
  z-index: 11;
  width: 1200px;
  height: 310px;
  background-color: rgb(67, 146, 207);
}

.container-2 {
  top: 550px;
  z-index: 3;
  width: 69.5846354166%;
  height: 63px;
}